################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Lessions/v16
/.vs
/BasicOfCSharp/.vs/BasicOfCSharp/v16
/BasicOfCSharp/BasicOfCSharp/obj
/BasicOfCSharp/BasicOfCSharp/bin/Debug/netcoreapp3.1
/BasicOfCSharp/BasicOfCSharp/bin/Debug/netcoreapp3.1data.text
/BasicOfCSharp/DataStructures/bin/Debug/netcoreapp3.1
/BasicOfCSharp/DataStructures/obj
/BasicOfCSharp/.vs/DotNetLabs
/BasicOfCSharp/Algorithms/bin/Debug/netcoreapp3.1
/BasicOfCSharp/Algorithms/obj
/BasicOfCSharp/OOPSConcepts/bin/Debug/netcoreapp3.1
/BasicOfCSharp/OOPSConcepts/obj
/BasicOfCSharp/DesignPatterns/bin/Debug/netcoreapp3.1
/BasicOfCSharp/DesignPatterns/obj
/BasicOfCSharp/NuGetDemo/bin/Debug/netcoreapp3.1
/BasicOfCSharp/NuGetDemo/obj
